*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* ================= GLOBAL LINK RESET ================= */
a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}
